

/* Global variables -------------------------------------------------- */


:root {

    /* Colors pallet */
    --green-400: #479F76;
    --green-500: #146C43;
    --green-600: #0F5132;
    --gray-600: #6c757d;
    --gray-700: #343A40;
    --gray-900: #212529;

}


/* Global ------------------------------------------------------------ */


body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5rem;
    color: var(--gray-900);
    
}

.b-heading {
    font-size: 4.5rem;
    font-weight: bold;
}

.m-heading {
    font-size: 3.0rem;
    font-weight: bold;

}

.s-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.weight-less {
    color: #8f8f8f;
}


/* Home page --------------------------------------------------------- */


/* Header */
.up-left-col {
    padding-left: 15%;
}

.navbar-col {
    padding-left: 3%;
    padding-right: 3%;
}

.navbar {
    padding-top: 5.75%;
    padding-bottom: 5.75%;
}

.navbar a {
    font-weight: 400;
}

.up-right-col {
    padding-right: 15%;
}

.middle-col {
    padding-left: 15%;
}

.title-container {
    color: white;
    padding: 3% 3%;
    background-color: var(--green-500);
}

.person-img {
    width: 70%;
}

.bottom-left-col {
    padding-left: 15%;
    padding-bottom: 7%;
}

.bottom-right-col {
    padding-right: 15%;
    padding-bottom: 7%;
}

/* Features */
#features {
    background-color: #F8FAFC;
}

.features-container {
    padding: 7% 15%;
    text-align: center;
}

.features-container .col {
    padding: 3%;
}

.features-fa {
    color: var(--green-400);
}

.features-fa:hover {
    color: var(--green-600);
}

.features-container p {
    
}

/* About */
#about {
    padding: 7% 15%;
    color: white;
    background-color: var(--green-400);
}

.irrigation-img {
    width: 70%;
}

/* Pricing */
#pricing {
    padding: 7% 15%;
    background-color: #F8FAFC;
}

.pricing-header {
    max-width: 700px;
    margin: auto;
}

.pricing-container {
    max-width: 960px;
    margin: auto;
}


/* Footer */

footer {
    padding: 7% 15%;
    background-color: var(--green-600);
}

.footer-container i {
    margin: auto 4px;
}